package {{packageName}};

import javax.annotation.Generated;
import org.lambdamatic.jpa.QueryField;
import org.lambdamatic.jpa.QueryMetadata;

{{#imports}}
import {{name}};
{{/imports}}

/**
 * The {@link QueryMetadata} class associated with the {@link {{domainClassName}}} domain class.
 *
 * <strong>Note:</strong>
 * <p>This class is not meant to be extended nor instantiated.</p>
 */
@Generated(value="{{processorClassName}}")
public abstract class {{queryMetadataClassName}} implements QueryMetadata<{{domainClassName}}> {

{{#queryFields}}
 	public {{& javaFieldType.simpleName}} {{javaFieldName}};

{{/queryFields}}  
}
