package {{packageName}};

import javax.annotation.Generated;

import org.lambdamatic.mongodb.annotations.Document;
import org.lambdamatic.mongodb.LambdamaticMongoCollection;
import org.lambdamatic.mongodb.internal.LambdamaticMongoCollectionImpl;

import com.mongodb.MongoClient;

/**
 * The {@link LambdamaticMongoCollection} implementation associated with the {@link {{domainClassName}}} 
 * domain class and with support for functional @{FilterExpression}. 
 *
 */
@Generated(value="{{processorClassName}}")
public class {{simpleClassName}} extends LambdamaticMongoCollectionImpl<{{domainClassName}}, {{queryMetadataClassName}}, {{projectionMetadataClassName}}, {{updateMetadataClassName}}> {

	/** The collection name, retrieved from the {@link Document} annotation on the {@link {{domainClassName}}} class. */
	public static final String NAME = "{{collectionName}}";
	
	public {{simpleClassName}}(final MongoClient mongoClient, final String databaseName) {
		super(mongoClient, databaseName, NAME, {{domainClassName}}.class);
	}

}
