package {{packageName}};

import javax.annotation.Generated;

import org.lambdamatic.mongodb.LambdamaticMongoCollection;
import org.lambdamatic.mongodb.internal.LambdamaticMongoCollectionImpl;

import com.mongodb.MongoClient;

/**
 * The {@link LambdamaticMongoCollection} implementation associated with the {@link {{domainClassName}}} 
 * domain class and with support for functional @{FilterExpression}. 
 *
 */
@Generated(value="{{processorClassName}}")
public class {{mongoCollectionClassName}} extends LambdamaticMongoCollectionImpl<{{domainClassName}}, {{queryMetadataClassName}}, {{projectionMetadataClassName}}, {{updateMetadataClassName}}> {

	public {{mongoCollectionClassName}}(final MongoClient mongoClient, final String databaseName) {
		super(mongoClient, databaseName, "{{mongoCollectionName}}", {{domainClassName}}.class);
	}

}
