package {{packageName}};

import javax.annotation.Generated;

import org.lambdamatic.mongodb.annotations.Document;
import org.lambdamatic.mongodb.annotations.EmbeddedDocument;
import org.lambdamatic.mongodb.metadata.ProjectionMetadata;

{{#requiredImports}}
import {{.}};
{{/requiredImports}}
/**
 * The {@link ProjectionMetadata} class associated with the {@link {{domainClassName}}} domain class 
 * annotated with {@link Document} or {@link EmbeddedDocument}.
 *
 * <p><strong>Note:</strong> This class is not meant to be extended by the user.</p>
 */
@Generated(value = "{{processorClassName}}")
public abstract class {{simpleClassName}} implements ProjectionMetadata<{{domainClassName}}> {

{{#fields}}
    /**
     * the projection field for the '{{javaFieldName}}' domain class field.
     */
{{#annotations}}
    {{{.}}}
{{/annotations}}
    public {{& javaFieldType.simpleName}} {{javaFieldName}};

{{/fields}}  
}
