package {{packageName}};

import javax.annotation.Generated;
import org.lambdamatic.mongodb.metadata.QueryArray;

/**
 * The {@link QueryArray} class associated with the {@link {{domainClassName}}} domain class, if needed.
 *
 * <strong>Note:</strong>
 * <p>This class is not meant to be extended nor instantiated.</p>
 */
@Generated(value="{{processorClassName}}")
public abstract class {{queryArrayMetadataClassName}} extends {{queryMetadataClassName}} implements QueryArray<{{queryMetadataClassName}}> {

}
