package {{packageName}};

import javax.annotation.Generated;
import org.lambdamatic.mongodb.metadata.UpdateArray;

/**
 * The {@link UpdateArray} class associated with the {@link {{domainClassName}}} domain class, if needed.
 *
 * <strong>Note:</strong>
 * <p>This class is not meant to be extended nor instantiated.</p>
 */
@Generated(value="{{processorClassName}}")
public abstract class {{updateArrayMetadataClassName}} extends {{updateMetadataClassName}} implements UpdateArray<{{domainClassName}}> {

}
